/**
 * @file
 * Content Sneak Peek style.
*/

/* Wrapper */
.content-sneak-peek-wrapper {
  display: none;
  position: fixed;
  background-color: #f7f7f7;
  z-index: 1000;
  overflow: visible !important;
}

.content-sneak-peek-wrapper.loading {
  background: #f6f6f6 url(../images/sneak-peek-loading.gif) no-repeat center;
}

.content-sneak-peek-wrapper #content-sneak-peek {
  padding: 25px;
}

.content-sneak-peek-wrapper .close-content-sneak-peek {
  position: absolute;
  background: #f6f6f6;
  padding: 4px;
  border: 1px solid #b2b2b2;
}

.content-sneak-peek-wrapper.right,
.content-sneak-peek-wrapper.left {
  top: 0;
  width: 430px;
  height: 100%;
}

.content-sneak-peek-wrapper.right {
  right: 0;
  border-left: 1px solid #b2b2b2;
}

.content-sneak-peek-wrapper.right .close-content-sneak-peek {
  padding-right: 0;
  border-right: 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  left: -38px;
}

.content-sneak-peek-wrapper.left {
  left: 0;
  border-right: 1px solid #b2b2b2;
}

.content-sneak-peek-wrapper.left .close-content-sneak-peek {
  padding-left: 0;
  border-left: 0;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  right: -38px;
}

.content-sneak-peek-wrapper.top,
.content-sneak-peek-wrapper.bottom {
  width: 100%;
  height: 300px;
}

.content-sneak-peek-wrapper.top {
  top: 0;
  border-bottom: 1px solid #b2b2b2;
}

.content-sneak-peek-wrapper.top .close-content-sneak-peek {
  padding-top: 0;
  border-top: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  bottom: -25px;
  left: 48%;
}

.content-sneak-peek-wrapper.bottom {
  bottom: 0;
  border-top: 1px solid #b2b2b2;
}

.content-sneak-peek-wrapper.bottom .close-content-sneak-peek {
  padding-bottom: 0;
  border-bottom: 0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: -25px;
  left: 48%;
}
